*{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
}

.page-title {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #e91e63;
    text-align: center;
}

span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    
}

#black {
    background-color: black;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#orange {
    background-color: orange;
}

#purple {
    background-color: purple;
}